
/*********************site-style************************************/

hr.divider-footer {
    border-width: .2rem;
    border-color: #f9b104;
}

hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #0d1128 !important;
}

.bg-gold {
    background: #ae8525;
    background: -moz-linear-gradient(left,#ae8525 0%,#f7f08a 30%,#d2ad47 64%,#edc967 100%);
    background: -webkit-linear-gradient(left,#ae8525 0%,#f7f08a 30%,#d2ad47 64%,#edc967 100%);
    background: -o-linear-gradient(left,#ae8525 0%,#f7f08a 30%,#d2ad47 64%,#edc967 100%);
    background: -ms-linear-gradient(left,#ae8525 0%,#f7f08a 30%,#d2ad47 64%,#edc967 100%);
    background: linear-gradient(to right,#ae8525 0%,#f7f08a 30%,#d2ad47 64%,#edc967 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae8525',endColorstr='#edc967',GradientType=1);
}

.bg-grey{
    background-color: #fef8f8!important;
}
.text-gold{
    color: #e19e25!important;
}

.text-gray{
    color: #fef8f8!important;
}

.border-gold{
    border: 1px solid #e5c15e!important;
}

/*********************** site-style ***********************************/

/************************ index-page *********************************/

/******************* masthead-style **********************************/
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: -webkit-gradient(linear,left top,left bottom,from(#0d132f00),to(#0d132f00)),url(../app/img/hero.jpg);
    background: linear-gradient(to bottom,#0d132f00 0,#0d132f00 100%),url(../app/img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 350px!important;
}

.masthead-first-txt{

    margin-top: -143px!important;
    font-size: 20px;
    color: #e19e25!important;
}

.masthead-second-txt{

    margin-top: -100px!important;
    font-size: 17px;
    color: #fff;
}
/******************* /masthead-style ********************************/

/********************* nav-style ***********************************/

/*logo-header style*/

.tm-logo:after {
    content: '';
    background: #ffc722;
    position: absolute!important;
    right: 66px;
    top: 0;
    bottom: 0;
    left: -29px;
    z-index: -1;
}



.tm-logo {
    padding-right: 80px;
    position: relative;
    transition: 400ms all;
    -webkit-transition: 400ms all;
    z-index: 3;
}

.tm-logo span {
    padding-left: 17px;
    display: inline-block;
    color: #343025;
    font-size: 38px;
    line-height: 55px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 400ms all;
    -webkit-transition: 400ms all;
}

.tm-logo > img {
    margin-top: 4px;
    vertical-align: top;
    display: inline-block;
    transform: rotate(0);
    transition: 400ms all;
    -webkit-transition: 400ms all;
}

@media only screen and (max-width: 960px){
    .tm-logo {
        padding-right: 0px !important;

    }

    .tm-logo:after {
        right: -39px;

    }


    .tm-logo span {

        font-size: 22px;
    }



}

.promo-text {
    padding: 0 20px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 91px;
    background: rgba(0, 0, 0, 0.5);
    display: inline;
}

.h-45 {
    height: 45% !important;
}
/*logo-header style*/



/*toggler-btn*/
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #212529!important;
    border: 1px solid #e3ece500;
    border-radius: .25rem;
}
/*/toggler-btn*/

#mainNav .navbar-nav .nav-item .nav-link:active, #mainNav .navbar-nav .nav-item  .nav-link:hover{
    color: #ffc722!important;
}

@media (min-width: 992px) {
    #mainNav {
        -webkit-box-shadow: none;
        box-shadow: none;

    }}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #313131;
    font-size:15px;

}

@media only screen and (max-width: 960px) {
    #mainNav {

        background-color: #212529!important;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: #fff;

    }


}





/********************* nav-style ***********************************/

.icon-classic {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 9px;
    text-align: end;
    font-size: 35px!important;
    padding: 19px
}

/********************* sport-Section ***********************************/

.sport{

    background-image: url('../app/img/sports.jpg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px!important;
}

.border-sport{

    border: solid 3px #ffc722;
    border-radius: 22px;
}
.box-sport {
    background: #fff;
    box-shadow: 0 0px 8px rgba(0,0,0,0.25);
    border-radius: 0 10px 10px 10px;
    min-height: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 8px;
    color: #222;
    font-size: 12px;
    border: solid 2px #ffc722;
}

.box-sport:hover img {
    transition: all 0.65s;
    transform: rotateY(360deg);
}

/********************* sport-Section ***********************************/








/******************* About-Section*********************************/

.about-us{
    background: url('../app/img/about-bg.png') 50% 0 #f8b900;background-size: cover;
    background-repeat: no-repeat!important;
}
.about-us-txt{

    border-bottom: 3px solid #363533;
    background-color: #fff;
    border-radius: 18px;
}

/************************* /About-Section************************/


/****************** /value-Section******************************/

.value{

    background-image: url('../app/img/value-bg.jpg')!important;
    background-size: cover;
}

.border-value{
    border: solid 1px #ffc722;
    border-radius: 22px!important;
}

/********************** /value-Section*************************/



/******************** testimonial-Section******************************/


.circle-slider {
    position: relative;
}

.circle-slider::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#3535351a), to(transparent));
    background-image: -o-linear-gradient(top, transparent, #3535351a, transparent);
    background-image: linear-gradient(to bottom, transparent, #3535351a, transparent);
    background-image: -o-linear-gradient(to bottom, transparent, #3535351a, transparent);
}

.circle-slider .carousel .owl-stage-outer {
    padding: 20px 0;
}

.circle-slider .carousel .owl-item {
    transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
}

.circle-slider .carousel .owl-item.center {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0 20px 0 rgba(102, 102, 102, 0.1);
    box-shadow: 0 0 20px 0 rgba(102, 102, 102, 0.1);
}

.circle-slider .carousel .item {
    padding: 40px 25px;
    text-align: center;
}

.circle-slider .carousel .item figure {
    position: relative;
    width: 240px;
    height: 240px;
    margin: auto auto 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.circle-slider .carousel .item figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: 150%;
    width: auto;
    height: auto;
}

.circle-slider .carousel .item .name {
    color: #333;
    margin-bottom: 15px;
}

.circle-slider .carousel .item .engName {
    color: #666;
}

.mainSection {
    padding: 80px 0;
}
/******************** /testimonial-Section******************************/


/******************** intro-game-Section******************************/

.donate-wrap {
    margin: 90px 0 90px 0 !important;
    position: relative;
    text-align: center;
    background: url('../app/img/intro-game-bg.jpg');
    background-size: cover;
}

.donate-inner:before {
    content: '';
    width: 22%;
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 70px;
    border: solid #ffc722;
    border-width: 1px 0 1px 1px;
}

.donate-inner:after {
    content: '';
    width: 22%;
    position: absolute;
    top: 70px;
    bottom: 70px;
    right: 70px;
    border: solid #ffc722;
    border-width: 1px 1px 1px 0;
}

.donate-wrap .intro-text {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

.donate-inner {
    padding: 55px 0 50px 0;
    position: relative;
}

.donate-wrap h3 span {
    color: #ffc722;
}

.donate-wrap h3 {
    padding-bottom: 17px;
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
}

.donate-btn {
    padding: 0 50px;
    background: #ffc722;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    line-height: 38px;
    font-size: 12px;
    font-weight: bold;
    color: #363533;
    text-transform: uppercase;
    transition: 400ms all;
    -webkit-transition: 400ms all;
    border: none;
}
.donate-btn:before {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid #ffc722;
}

.donate-btn:hover{

    background-color: #363533!important;
    color: white;
}


@media only screen and (max-width: 960px) {
    .donate-inner:after {
        content: '';
        width: 22%;
        position: absolute;
        top: 70px;
        bottom: 70px;
        right: 50px;
        border: solid #ffc722;
        border-width: 1px 1px 1px 0;
    }

    .donate-inner:before {
        content: '';
        width: 22%;
        position: absolute;
        top: 70px;
        bottom: 70px;
        left: 50px;
        border: solid #ffc722;
        border-width: 1px 0 1px 1px;
    }

    .donate-wrap h3 {
        padding-bottom: 16px;
        font-size: 18px;

    }
}

/******************** /intro-game-Section******************************/








/*************************Start footer css*******************************/

section#footer {
    background-image: url('../app/img/bg-footer.jpg')!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-style{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#footer .section-heading {
    color: #fff;
}

.footer-item{

    text-decoration: none!important;
    color:#ffffff;
    font-size: 14px!important;
}

.footer-item:hover{
    color: #f7c769!important;
}





.row-footer {
    background-color: #000000eb!important;
    direction: rtl!important;

}

.list-unstyled{
    font-family:IRANSansWeb !important;
    font-size: 10px !important;
    color:#ffffff !important;
    line-height: 40px;
}


.p-footer-style{
    font-weight: bold;opacity: .99!important;
}

/****************************End footer css***************************/







/****************************************************page-service-detail******************************************/

.b-box-shadow{
    box-shadow: 0 1px 6px rgba(32,33,36,0.28)!important;
}

.box-service-detail{

    height: 285px!important;
}


/************************************************ /page-service-detail*********************************************/




.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,192,34,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



/* BLOG SLIDER */
.mainSection {
    padding: 80px 0;
}
.pos-z-index {
    position: relative;
    z-index: 3;
}
.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}
.tabs {
    width: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 10px 10px 10px;
}

.tabs.large a {
    padding: 10px 25px;
    background: #fff;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid rgba(102, 102, 102, 0.2);
    color: #333;
}

.tabs a {
    padding: 5px 12px;
    margin: 0 15px;
    white-space: nowrap;
}

.tabs a:first-child {
    margin-right: 0;
}

.tabs a:last-child {
    margin-left: 0;
}

.tabs a:hover,
.tabs a.active {
    background: #E96B10;

    color: #000 !important;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
@media only screen and (max-width: 991px)
{.tabs {
    width: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 175px 10px 10px;
}}
.btnactive{
    background:#E96B10;
    color: #fff !important;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}
.blog .carousel .item figure {
    overflow: hidden;
    position: relative;
    height: 130px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog .carousel .item figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
}

.blog .carousel .item .title {
    color: #060606;
    font-family: iranYekanWeb!important;
    font-size: 16px!important;
    font-weight: bold;
}

.blog .carousel .item .desc {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 13px!important;
    color: #4F5362;
    text-decoration: none!important;
}

.blog .carousel .item .date {
    text-align: left;
    text-transform: uppercase;
    color: #4F5362;
    letter-spacing: 1.2px;
    direction: ltr;
    font-family: iranYekanWeb!important;

}
/* BLOG SLIDER */
.action-bar-container {
    overflow: hidden;
    height: 3.3125rem;
}
.action-bar{
    display: flex!important;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: .75rem 0 100px;
}

.border-top-main{
    border-top: 4px solid #E1BC58;
}

.edd-cart-quantity
{
    position: absolute;
    left: 27px;
    bottom: 21px;
    background: #111111;
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    line-height: 18px;
    text-align: center;
    color: #FEF8F8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)

}


.shopping-cart{
    direction: ltr;
    width: 30px!important;
    position: fixed;
    left: 0!important;
    top: 50px;
    z-index: 10;
    margin: 10px!important;
    font-size: 15px!important;
}
.swal2-title{
    margin-top: 20px!important;
    font-size: 20px!important;
    font-family: iranYekanWeb;
}

.swal2-content{
    font-size: 15px!important;
    margin-top: 15px!important;
    margin-bottom: 15px!important;
    font-family: iranYekanWeb;
}


/************* graph ***********************/

.post-stats__graph {
    height: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
    padding-top: 3em;
    margin-bottom: 40px;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
@media (min-width: 992px)
{
    .post-stats__bar {
        opacity: .48;
    }
    .post-stats__bar:hover
    {
        opacity: 1;
    }
}

.post-stats__bar {
    background-color: #a62626;
    border: 1px solid #a62626;
    -ms-flex: 1 1;
    flex: 1 1;
    margin: 0 5px;
    transition: opacity .2s;
    text-align: center;
    position: relative;
}

.post-stats__visits {
    top: -17px;
}

.post-stats__title, .post-stats__visits {
    color: rgba(0,0,0,.87);
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    width: 100%;
}

@media (min-width: 480px)
{
    .post-stats__title {
        bottom: -35px;
        -webkit-transform: none;
        transform: none;
    }
}

@media (max-width: 480px) {
    .post-stats__title {
        bottom: -45px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/************* graph ***********************/
